.nextflow/
.nextflow.log
**/work/
test_results/seqFiles/fastq/*.fastq.gz
test_results/seqFiles/fastq/*.fastq.gz.md5
test_results/trimmed/*
!test_results/trimmed/.gitkeep
test_results/fastqc/*
!test_results/fastqc/.gitkeep
test_results/salmon/*
!test_results/salmon/.gitkeep